body {
    background-color: aqua;
    overflow: hidden;
}

div {
    z-index: -1;
}

img {
    z-index: 901;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: fantasy;
    z-index: 900;
}

.caveBorder {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: #bbb;
  	display: inline-block;
}

.caveOpTop {
    position: absolute;
    top: 0%;
    left: 5%;
    height: 50%;
    width: 90%;
    background-color: aqua;
    border-radius: 50% 50% 0 0;
  	display: inline-block;
}
.caveOpBot {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-30%);
    height: 50%;
    width: 90%;
    border-radius: 0 0 50% 50%;
    background-color: green;
  	display: inline-block;
}

.cloud {
	width: 350px; height: 120px;
	
	background: #f2f9fe;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
	margin: 6% auto 5%;
    z-index: 899;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
}

.cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.tree {
    width: 100px; height: 300px;
    background-color: saddlebrown;
    
    position: relative;
	margin: 17% 27% 1%;
    z-index: 8;
}
.tree:after, .tree:before {
    content: '';
    position: absolute;
}
.tree:after {
    width: 200px; height: 120px;
    top: -50px; left: -50px;
    
    border-radius: 50% 50% 50% 50%;
    background-color: forestgreen;
}

.tree2 {
    width: 100px; height: 300px;
    background-color: saddlebrown;
    
    position: relative;
	margin: -17% 66% 1%;
    z-index: 8;
}
.tree2:after, .tree2:before {
    content: '';
    position: absolute;
}
.tree2:after {
    width: 200px; height: 120px;
    top: -50px; left: -50px;
    
    border-radius: 50% 50% 50% 50%;
    background-color: forestgreen;
}

.t3 {
    width: 100px; height: 300px;
    background-color: saddlebrown;
    
    position: relative;
	margin: -29% 10% 1%;
    z-index: 8;
}
.t3:after, .t3:before {
    content: '';
    position: absolute;
}
.t3:after {
    width: 200px; height: 120px;
    top: -50px; left: -50px;
    
    border-radius: 50% 50% 50% 50%;
    background-color: forestgreen;
}

.t4 {
    width: 100px; height: 300px;
    background-color: saddlebrown;
    
    position: relative;
	margin: -18% 81% 1%;
    z-index: 8;
}
.t4:after, .t4:before {
    content: '';
    position: absolute;
}
.t4:after {
    width: 200px; height: 120px;
    top: -50px; left: -50px;
    
    border-radius: 50% 50% 50% 50%;
    background-color: forestgreen;
}


h1 {
    font-size: 8rem;
    margin: 0;
    color: purple;
    animation: expand-and-contract 10s ease-in-out infinite;
}

p {
    font-size: 3rem;
    padding-top: 35%;
    color: mediumpurple;
    margin: 0;
}



.icon {
    position: absolute;
    bottom: calc(50% - 20px);
    transform: translateX(-50%);
    animation: move-up 2s ease-in-out, wiggle 3s ease-in-out infinite;
}



@keyframes move-up {
    0% {
        bottom: -100px;
    }
    100% {
        bottom: calc(50% - 20px); /* Middle of the screen */
    }
}

@keyframes wiggle {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -20px) rotateZ(-10deg);
    }
    100% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
}

@keyframes go-up {
    0% {
        calc(50% - 20px); /* Middle of the screen */
    }
    100% {
        bottom: 110%; /* Disappear at the top of the screen */
    }
}

@keyframes expand-and-contract {
     0% {
    transform: scale(1) rotate(0);
  }
  25% {
    transform: scale(1.5) rotate(-30deg);
  }
  50% {
    transform: scale(1) rotate(0);
  }
  75% {
      transform: scale(1.5) rotate(30deg);
  }
  100% {
      transform: scale(1) rotate(0);
  }
}